{% extends '::base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block page_top_breadcrumb %}
    <li><a href="#">Espace membres</a></li>
    <li class="active">Changement de mot de passe</li>
{% endblock %}

{% block page_top_main %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        	{% if error is defined %}
				<h3>Echec du changement de mot de passe</h3>
				<p>Le lien que vous avez suivi a expiré ou est erroné. Veuillez demander un nouveau lien sur la page <a href="{{ path('mot_de_passe_oublie') }}">{{ 'login.password_forgot'|trans }}</a>. Si l'erreur persiste, contactez un administrateur à l'adresse <b>{{ coastersworldAdminEmailAddress }}</b>.</p>
				<a href="{{ path('coasters_world_homepage') }}" class="btn btn-default">Retourner à l'accueil</a>
			{% elseif form is defined %}
				<form method="POST" {{ form_enctype(form) }}>
	                {{ form_widget(form)}}
	                <input type="submit" class="btn btn-lg btn-primary" value="Changer de mot de passe">
	            </form>
			{% endif %}
        </div>
    </div>
{% endblock %}
