{% block form_row %}
{% spaceless %}
    <fieldset>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </fieldset>
{% endspaceless %}
{% endblock form_row %}

{% block rating_widget %}
    {% spaceless %}
    {{ block('hidden_widget') }}

    <div id="rating_number"></div>

    <script type="text/javascript">
      jQuery(function() {
        jQuery('#rating_number').raty({
            starOff: '{{ asset('bundles/coastersworldsite/images/star-off-big.png') }}',
            starOn: '{{ asset('bundles/coastersworldsite/images/star-on-big.png') }}',
            starHalf: '{{ asset('bundles/coastersworldsite/images/star-half-big.png') }}',
            half: true,
            size: 24,
            target:  '#{{id}}',
            targetType: 'number',
            targetKeep: true,
            score: {{value ? value : '0'}},
            click: function() {
                jQuery(this).closest("form").submit();
            },
            width: false
        });
      });
    </script>
    {% endspaceless %}
{% endblock %}
