<div class="row">
    <div class="span8">
        <section id="respond">
            <h3><i class="icon-bullhorn"></i> {{ 'comments.add'|trans }}</h3>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form.body, { 'attr' : {
                    'class': 'input-block-level',
                    'placeholder': 'comments.here'|trans,
                    'cols': '40',
                    'rows': '7'
                }}) }}
                {{ form_rest(form) }}
                <button type="submit" id="submit" class="btn btn-large">{{ 'comments.save'|trans }}</button>
            {{ form_end(form) }}
        </section>
    </div>
</div>
