<footer>
  <div class="container">
    <div class="one-third column">
      <div class="about">
        <h3 class="title">About Us<span class="line"></span></h3>
        <p>
        Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing
        lipsum aenean orci lorem Asequat. <br /> lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor .
        </p>
      </div>
    </div>

    <div class="one-third column">
      <div class="tweets">
        <h3 class="title">Latest tweets<span class="line"></span></h3>
          <div class='tweet query footer'></div>
      </div>
    </div>

    <div class="one-third column">
      <div class="subscribe">
        <h3 class="title">Subscribe<span class="line"></span></h3>
        <p>Subscribe to our e-mail newsletter to receive updates.</p>
        <form action="#">
          <input type="text" class="mail" value="Enter your Email" onBlur="if(this.value == '') { this.value = 'Enter your Email'; }"
          onfocus="if(this.value == 'Enter your Email') { this.value = ''; }"/>
          <input type="submit" value="Submit" class="submit" />
        </form>
      </div>
    </div>

    <div class="sixteen columns"><hr class="bottom" /></div>

    <div class="eight columns"><span class="copyright">
    © Copyright 2012 <a href="index.html">Coasters World</a>. All Rights Reserved. by
    <a href="http://jozoor.com/" target="_blank" data="Jozoor%20Team.html">NaiRolF</a></span></div>

    <div class="eight columns">
      <div class="social">
        <a href="#"><img src="{{ asset('images/icons/twitter.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/facebook.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/skype.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/digg.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/linkedin.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/vimeo.png') }}" alt="" /></a>
      </div>
    </div>
  </div>
</footer>
