<footer>
  <div class="container">
    <div class="one-third column">
      <div class="about">
        <h3 class="title">{{ 'footer.about'|trans }}<span class="line"></span></h3>
        <p>
        Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing
        lipsum aenean orci lorem Asequat. <br /> lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor .
        </p>
      </div>
    </div>

    <div class="one-third column">
      <div class="tweets">
        <h3 class="title">{{ 'footer.latest.twitter'|trans }}<span class="line"></span></h3>
          <div class='tweet query footer'></div>
      </div>
    </div>

    <div class="one-third column">
      <div class="subscribe">
        <h3 class="title">Subscribe<span class="line"></span></h3>
        <p>Subscribe to our e-mail newsletter to receive updates.</p>
        <form action="#">
          <input type="text" class="mail" value="Enter your Email" onBlur="if(this.value == '') { this.value = 'Enter your Email'; }"
          onfocus="if(this.value == 'Enter your Email') { this.value = ''; }"/>
          <input type="submit" value="Submit" class="submit" />
        </form>
      </div>
    </div>

    <div class="sixteen columns"><hr class="bottom" /></div>

    <div class="eight columns">
      <span class="copyright">
        <a href="index.html">{{ 'website'|trans }}</a>.
        {{ 'footer.origin'|trans }} - {{ "now"|date('Y') }}.
        {{ 'footer.rights'|trans }}.
      </span>
    </div>

    <div class="eight columns">
      <div class="social">
        <a href="#"><img src="{{ asset('images/icons/twitter.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/facebook.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/skype.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/digg.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/linkedin.png') }}" alt="" /></a>
        <a href="#"><img src="{{ asset('images/icons/vimeo.png') }}" alt="" /></a>
      </div>
    </div>
  </div>
</footer>
