<header>
    <div class="container">
        <h1 class="logo">
            <a href="{{ path("coasters_world_homepage") }}">
                <img alt="CoastersWorld" src="{{ asset('bundles/coastersworldsite/img/coastersworld/logoCW-small.png') }}" width="400">
            </a>
        </h1>
    </div>
    <div class="navbar-collapse nav-main-collapse collapse">
        <div class="container">
            <div class="social-icons">
                <ul class="social-icons">
                    <li class="facebook"><a href="https://www.facebook.com/pages/CoastersWorldfr/145773432297?fref=ts" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="https://twitter.com/CoastersWorld" target="_blank" title="Twitter">Twitter</a></li>
                </ul>
            </div>
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main" id="mainMenu">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{{ path('coasters_world_homepage') }}">
                            Les News
                            <i class="icon icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('coasters_world_news_new') }}">Poster une news</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Base de données</a></li>
                    <li><a href="#">Coaster counter</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{{ path('coasters_world_image_list') }}">
                            Images
                            <i class="icon icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('coasters_world_image_upload') }}">Poster une image</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>