<header>
    <div class="container clearfix">
        <div class="one-third column">
            <div class="logo">
                <a href="index.html">
                    <img src="{{ asset('images/logo.png') }}" alt="{{ 'website'|trans }}" />
                </a>
            </div>
        </div>
        <div class="two-thirds column">
            <nav id="menu" class="navigation">
                <ul id="nav">
                    <li>
                        <a href="{{ path('coasters_world_core_homepage') }}"
                            {% if app.request.get('_route') == 'coasters_world_core_homepage' %}
                                class="active"
                            {% endif %}
                        >
                            {{ 'menu.home'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('coasters_world_news_list') }}"
                            {% if 'coasters_world_news' in app.request.get('_route') %}
                                class="active"
                            {% endif %}
                        >
                            {{ 'menu.news.list'|trans }}
                        </a>
                        <ul>
                            <li><a href="{{ path("coasters_world_news_new") }}">
                                {{ 'news.title.create'|trans }}
                            </a></li>
                        </ul>
                    </li>
                    <li><a href>{{ 'menu.database'|trans }}</a></li>
                    {% if app.user %}
                    <li><a href="{{ path('logout') }}">{{ 'menu.logout'|trans }}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="sixteen columns"><hr /></div>
    </div>
</header>
