<header id="header">
    <div class="container">
        <h1 class="logo">
            <a href="{{ path("coasters_world_homepage") }}">
                <img alt="Coasters World" src="{{ asset('bundles/coastersworldsite/img/logos/logo.png') }}">
            </a>
        </h1>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="icon icon-bars"></i>
        </button>
    </div>
    <div class="navbar-collapse nav-main-collapse collapse">
        <div class="container">
            <div class="social-icons">
                <ul class="social-icons">
                    <li class="facebook"><a href="https://www.facebook.com/pages/CoastersWorldfr/145773432297?fref=ts" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="https://twitter.com/CoastersWorld" target="_blank" title="Twitter">Twitter</a></li>
                    <li class="youtube"><a href="https://www.youtube.com/channel/UC8OenpCN6Mq0gzE3SbSjTpg" target="_blank" title="YouTube">YouTube</a></li>
                </ul>
            </div>
            <nav class="nav-main mega-menu">
                <ul class="nav nav-pills nav-main" id="mainMenu">
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="{{ path('cw_article_list_first_page') }}">
                                Les News
                                <i class="icon icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('cw_article_new') }}">Poster une news</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('coasters_world_homepage') }}">Les news</a></li>
                    {% endif %}
                    <li><a href="#">Base de données</a></li>
                    <li><a href="#">Coaster counter</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="{{ path('coasters_world_image_list') }}">
                            Images
                            <i class="icon icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('coasters_world_image_upload') }}">Poster une image</a></li>
                        </ul>
                    </li>
                    {% if is_granted("ROLE_USER") %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="{{ path('coasters_world_homepage') }}">
                                Mon compte
                                <i class="icon icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a><i class="icon icon-user"></i> {{ app.user.username }}</a></li>
                                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown mega-menu-item mega-menu-signin signin">
                            <a class="dropdown-toggle" href="{{ path('login') }}">
                                <i class="icon icon-user"></i> Connexion
                                <i class="icon icon-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content">
                                        {% include 'CoastersWorldSiteBundle:Security:loginform.html.twig' with {formwidth: 12} %}
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
