{% extends '::base.html.twig' %}

{% block title %}{{ coaster.name }}{% endblock %}

{% block body %}
  <div class="sixteen columns">
    <h1 class="page-title">{{ coaster.name }}, {{ coaster.park.name }}, {{ coaster.park.country.name }}<span class="line"></span></h1>
  </div>

  <div class="three columns bottom">

    {% if coaster.status.idTechnical == 1 %}
      <span class="circle_ok icon"></span>
    {% else %}
      <span class="circle_question_mark icon"></span>
    {% endif %}
    {{ coaster.status.name }}

    <div class="breadcrumbs gray">
      <div class="rating">
        <span class="color">{{ coaster.rate }}</span>
      </div>
      <form action="{{ path("coasters_world_database_view", { "slug": coaster.slug }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form.value) }}
        {{ form_rest(form) }}
      </form>
    </div>
  </div>

  <div class="thirteen columns top bottom">
    <div id="horizontal-tabs">
      <ul class="tabs">
        <li id="tab1">Caractéristiques</li>
        <li id="tab2">Photos</li>
        <li id="tab3">Vidéos</li>
        <li id="tab4">Vos avis</li>
      </ul>
      <div class="contents">
        <div id="content1" class="tabscontent">
          <div id="infos-coasters">
            <ul class="square-list">
              <li>{{ 'info.speed'|trans }} : {{ coaster.refCoaster.speed }} {{ 'units.speed'|trans }}</li>
              <li>{% spaceless %}{{ 'info.type'|trans }} :
                  {% for type in coaster.refCoaster.types %}
                     {{ type.name }} {% if not loop.last %}|{% endif %}
                  {% endfor %}
              {% endspaceless %}</li>
              <li>{{ 'info.height'|trans }} : {{ coaster.refCoaster.height }} {{ 'units.length'|trans }}</li>
              <li>{{ 'info.manufacturer'|trans }} : {{ coaster.refCoaster.manufacturer.name|default('-') }}</li>
              <li>{{ 'info.length'|trans }} : {{ coaster.refCoaster.length }} {{ 'units.length'|trans }}</li>
              <li>{{ 'info.inversion_number'|trans }} : {{ coaster.refCoaster.inversionNumber }}</li>
              <li>{{ 'info.g_force'|trans }} : {{ coaster.refCoaster.gForce }} {{ 'units.force'|trans }}</li>
              <li>{{ 'info.duration'|trans }} : {{ coaster.refCoaster.duration|date("i\\m\\i\\n s\\s") }}</li>
              <li>{{ coaster.refCoaster.restraint.name|default('-') }}</li>
            </ul>
          </div>
        </div>
        <div id="content2" class="tabscontent">
          Photos
        </div>
        <div id="content3" class="tabscontent">
        Vidéos
        </div>
        <div id="content4" class="tabscontent">
        Avis
        </div>
      </div><!-- End contents -->
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/coastersworlddatabase/js/jquery.raty.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/coastersworlddatabase/js/tytabs.js') }}"></script>
    <script type="text/javascript">
        $('#horizontal-tabs').tytabs();
    </script>
{% endblock %}
