{% extends '::base.html.twig' %}

{% block title %}{{ 'news.title.create'|trans }}{% endblock %}

{% if news.getId() %}
    {% set action = path("coasters_world_news_edit", { "id": news.getId() }) %}
{% else %}
    {% set action = path("coasters_world_news_new") %}
{% endif %}

{% form_theme form with 'CoastersWorldNewsBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="sixteen columns bottom-2">
        <h2 class="title">{{ 'news.title.create'|trans }}<span class="line"></span></h2>
        <form action="{{ action }}" class="form-elements" method="post" {{ form_enctype(form) }}>
            {{ form_row(form) }}

          <div class="clear"></div>
          <a onclick="$(this).closest('form').submit();" class="button small color">{{ 'news.save'|trans }}</a>
          <a href="" class="button small gray">{{ 'news.reset'|trans }}</a>
        </form>
    </div>
{% endblock %}
