{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
     - Accueil des news
{% endblock %}

{% block body %}
    <div class="sixteen columns">
        <h1 class="page-title">Welcome To Our Blog<span class="line"></span></h1>
    </div>

    <div class="eleven columns top bottom">
        {% for news in listNews %}
        <div class="post bottom">
            <h2 class="title bottom top-2">
                <a href="single_post.html">{{ news.title }}</a><span class="line"></span>
            </h2>

            <div class="image-post bottom left">
                <a href="single_post.html"><img src="{{ asset('images/img/blog/post-image-small-1.jpg') }}"></a>
            </div>

            <div class="post-content">
                <p>
                  Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                  Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                  Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                  Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl...
                </p>
                <a href="{{ path('coasters_world_news_view', {'slug': news.slug})  }}" class="button small color">Read More</a>
            </div>
            <hr class="bottom-2" />

            <div class="post-meta bottom-2 transparent">
                <div class="meta"><span class="history icon gray"></span>{{ news.publishedAt|date("d/m/Y") }}</div>
                <div class="meta"><span class="more-items icon gray"></span><a href="#">Web Design</a></div>
                <div class="meta"><span class="user icon gray"></span>De {{ news.author.username }}</div>
                <div class="meta"><span class="conversation icon gray"></span> With 12 Comments </div>
            </div>
        </div>
        {% endfor %}

        {# display navigation #}
        {{ listNews.render()|raw }}
    </div>
{% endblock %}
