{% extends '::base.html.twig' %}

{% block page_top_main %}Dernières images{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/coastersworldsite/vendor/magnific-popup/magnific-popup.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/coastersworldsite/vendor/magnific-popup/magnific-popup.css') }}" media="screen">
{% endblock %}

{% block body %}
    <div class="row">
        <ul class="portfolio-list sort-destination lightbox" data-sort-id="portfolio" data-plugin-options='{"delegate": "a.thumb-info", "type": "image", "gallery": {"enabled": true}}'>
        <div class="row">
            {% for image in images %}
                <li class="col-md-3">
                    <div class="portfolio-item img-thumbnail">
                        <a class="thumb-info" href="{{ asset(images_path ~ '/' ~ image.path) }}">
                            <img class="img-responsive" width="215" src="{{ (images_path ~ '/' ~ image.path)|imagine_filter('thumb_image') }}">
                            <span class="zoom">
                                <i class="icon icon-16 icon-white-shadowed icon-search"></i>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('coasters_world_image_edit', { id: image.id }) }}">Editer</a>
                    </div>
                </li>
                {% if loop.index is divisibleby(4) %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>
        </ul>
    </div>
{% endblock %}
