{% extends '::base.html.twig' %}

{% block title %}{{ 'article.title.create'|trans }}{% endblock %}

{% block page_top_main %}Rédiger un article{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#article-form" data-toggle="tab"><i class="icon icon-edit"></i> Formulaire</a>
                    </li>
                    <li>
                        <a href="#article-previ" data-toggle="tab"><i class="icon icon-eye"></i> Prévisualisation</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="article-form" class="tab-pane active">
                        {{ form_start(form) }}
                            {{ form_row(form.title, {'attr': {'class': 'input-block-level'}}) }}
                            {{ form_row(form.body, {'attr': {'class': 'input-block-level', 'rows': '15'}}) }}
                            {{ form_row(form.coaster, {'attr': {'class': 'input-block-level'}}) }}
                            {{ form_row(form.image, {'attr': {'class': 'input-block-level'}}) }}
                            <div id="image-previ">
                                {% if article.image %}
                                    <img class="img-thumbnail" src="{{ (images_path ~ '/' ~ article.image.path)|imagine_filter('article') }}" alt="">
                                {% endif %}
                            </div>

                            {{ form_rest(form) }}
                            <input type="submit" value="{{ 'article.save'|trans }}" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                            <input type="submit" value="{{ 'article.disable'|trans }}" class="btn btn-danger btn-lg" data-loading-text="Loading...">
                        {{ form_end(form) }}
                    </div>
                    <div id="article-previ" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/coastersworldsite/vendor/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        $('#article_type_coaster').select2();
        $('#article_type_tags').select2({tags:[{% for tag in tags %}"{{ tag }}",{% endfor %}]});
        $('#article_type_image').select2({
            placeholder: 'Chercher une image...',
            minimumInputLength: 2,
            ajax: {
                url: "{{ path('cw_image_search_ajax') }}",
                dataType: 'json',
                quietMillis: 200,
                data: function (term, page) {
                    return {
                        q: term
                    };
                },
                results: function (data, page) {
                    return {results: data};
                }
            },
            formatResult: formatImage,
            formatSelection: function (data) { return data.name },
        })
        .on("select2-selecting", function(e) {
            $('#image-previ').html('<img class="img-thumbnail" src="'+e.object.src_article+'" alt="">');
        });

        function formatImage (data) {
            return '<div class="post-image">'+data.name+'<div class="img-thumbnail"><img src="'+data.src_thumb+'" alt="" /></div></div>';
        }
    </script>
    <script type="text/javascript">
        $( document ).ready(function() {
            // Prévisualisation HTML
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if(e.target.hash == '#article-previ') {
                    var imgLoading = '<img class="center-block" src="{{ asset('bundles/coastersworldsite/vendor/mediaelement/loading.gif') }}" />';

                    $.ajax({
                        type: "POST",
                        url: "{{ path('cw_article_md_to_html_ajax') }}",
                        data: { markdown: $('textarea#article_type_body').val() },
                        beforeSend: function() {
                            $("#article-previ").html(imgLoading);
                        }
                    })
                    .done(function(html) {
                        $("#article-previ").html(html);
                    })
                    .fail(function() {
                        $("#article-previ").html('Impossible de charger la prévisualisation.');
                    });
                }
            })
        });
    </script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/coastersworldsite/vendor/select2/select2.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/coastersworldsite/vendor/select2-bootstrap-css/select2-bootstrap.css') }}" />
{% endblock %}
