{% extends 'CoastersWorldSiteBundle:Article:article-template.html.twig' %}

{% block page_top_main %}{{ title }}{% endblock %}

{% block articleContent %}

    {% if logout_success is defined and logout_success %}
        <div class="alert alert-success">{{ logout_success }}</div>
    {% endif %}

    {% if article_remove_success is defined and article_remove_success %}
        <div class="alert alert-success">{{ article_remove_success }}</div>
    {% endif %}

    <div class="blog-posts">
        {% for article in articles %}
            <article class="post post-large">
                <div class="post-image single">
                    <a href="{{ path('cw_article_view', { slug: article.slug }) }}">
                        {% if article.image is not null %}
                            <img class="img-thumbnail" src="{{ (images_path ~ '/' ~ article.image.path)|imagine_filter('article') }}" alt="">
                        {% endif %}
                    </a>
                </div>

                <div class="post-date">
                    <span class="day">{{ article.publishedAt|date("d") }}</span>
                    <span class="month">
                        {{ article.publishedAt|localizeddate('none', 'none', app.request.locale, null, 'MMM')|capitalize }}
                    </span>
                </div>

                <div class="post-content">
                    <h2>
                        <a href="{{ path('cw_article_view', { slug: article.slug }) }}">
                            {{ article.title }}
                        </a>
                        {% if is_granted("ROLE_NEWSER") %}
                            <a href="{{ path('cw_article_edit', { id: article.id }) }}" class="btn btn-xs btn-primary">
                                <i class="icon icon-edit"></i>
                                {{ 'article.edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('cw_article_remove', { id: article.id }) }}" class="btn btn-xs btn-danger">
                                <i class="icon icon-trash-o"></i>
                                {{ 'article.remove'|trans }}
                            </a>
                        {% endif %}
                    </h2>
                    <p>{{ article.html|striptags|slice(0,250) }}...</p>
                    <div class="post-meta">
                        <span><i class="icon icon-user"></i> Par {{ article.author.username }}</span>
                        <span><i class="icon icon-tag"></i>
                            {% if article.coaster is not null %}<span class="label label-default">{{ article.coaster.name }}</span>{% endif %}
                            {% for tag in article.tags %}
                                <a href="{{ path('cw_article_tag', { slug: tag.name, id: tag.id }) }}">
                                    <span class="label label-default">{{ tag }}</span>
                                </a>
                            {% endfor %}
                        </span>
                        <span><i class="icon icon-comments"></i>&nbsp;
                            <a href="{{ path('cw_article_view', { slug: article.slug }) }}#comments">
                                {% transchoice article.comments|length with {'%count%': article.comments|length} %}comments.number{% endtranschoice %}</a>
                            </a>
                        </span>
                        <a href="{{ path('cw_article_view', { slug: article.slug }) }}" class="btn btn-xs btn-primary pull-right">
                            Lire la suite...
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}
