<h4>{{ title|trans }}</h4>
<ul class="simple-post-list">
	{% for article in articles %}
        <li>
            {% if article.path %}
                <div class="post-image">
                    <div class="img-thumbnail">
                        <a href="{{ path('cw_article_view', { slug: article.slug }) }}">
                            <img src="{{ (images_path ~ '/' ~ article.path)|imagine_filter('thumb_article') }}" alt="">
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="post-info">
                <a href="{{ path('cw_article_view', { slug: article.slug }) }}">{{ article.title }}</a>
                <div class="post-meta">
                	{{ article.publishedAt|localizeddate('none', 'none', app.request.locale, null, 'd MMMM Y')|capitalize }}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
