{% extends 'CoastersWorldSiteBundle:Article:article-template.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block page_top_main %}
    {{ article.title }}
    {% if is_granted("ROLE_NEWSER") %}
        <a href="{{ path('cw_article_edit', { id: article.id }) }}" class="btn btn-xs btn-primary">
            <i class="icon icon-edit"></i>
            Editer
        </a>
    {% endif %}
{% endblock %}

{% block articleContent %}
    <div class="blog-posts single-post">
        <article class="post post-large">

            <div class="post-image single">
                <a href="{{ path('cw_article_view', { slug: article.slug }) }}">
                    {% if article.image is not null %}
                        <img class="img-thumbnail" src="{{ (images_path ~ '/' ~ article.image.path)|imagine_filter('article') }}" alt="">
                    {% endif %}
                </a>
            </div>

            <div class="post-date">
                <span class="day">{{ article.publishedAt|date("d") }}</span>
                <span class="month">
                    {{ article.publishedAt|localizeddate('none', 'none', app.request.locale, null, 'MMM')|capitalize }}
                </span>
            </div>

            <div class="post-content">
                {{ article.html|raw }}

                <!-- <div class="addthis_toolbox addthis_default_style " style="float:right">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                </div> -->
                <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>-->

                <div class="post-meta">
                    {% if article.author is not null %}
                        <span><i class="icon icon-user"></i> Par {{ article.author.username }}</span>
                    {% endif %}
                    {% if article.coaster is not null %}
                        <span><i class="icon icon-tag"></i>
                            <span class="label label-default">{{ article.coaster.name }}</span>
                            {% for tag in article.tags %}
                                <span class="label label-default">{{ tag }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                    <span><i class="icon icon-comments"></i> <a href="#comments">{{ article.comments|length }} commentaire(s)</a></span>
                </div>
            </div>

            {% include 'CoastersWorldSiteBundle:Comment:list.html.twig' with { 'comments': article.comments } only %}

            {{ render(controller('CoastersWorldSiteBundle:Comment:new', { 'id': article.id })) }}

        </article>
    </div>
{% endblock %}
