{% extends '::base.html.twig' %}

{% block title %}{{ 'news.title.create'|trans }}{% endblock %}

{% block page_top_breadcrumb %}
    <li><a href="#">News</a></li>
    <li class="active">Rédiger une news</li>
{% endblock %}

{% block page_top_main %}Rédiger une news{% endblock %}

{% form_theme form with 'CoastersWorldSiteBundle:Form:fields.html.twig' %}

{% block body %}
    <div class="col-md-8">
        {{ form_start(form) }}
            {{ form_row(form.title, {'attr': {'class': 'input-block-level'}}) }}
            {{ form_row(form.body, {'attr': {'class': 'input-block-level', 'rows': '15'}}) }}
            {{ form_row(form.coaster, {'attr': {'class': 'input-block-level'}}) }}

            {{ form_rest(form) }}
            <button type="submit" id="submit" class="btn btn-lg btn-success">{{ 'news.save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/coastersworldsite/vendor/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        jQuery('#news_type_coaster').select2();
        jQuery('#news_type_tags').select2({tags:[{% for tag in tags %}"{{ tag }}",{% endfor %}]});
    </script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('bundles/coastersworldsite/vendor/select2/select2.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/coastersworldsite/vendor/select2-bootstrap-css/select2-bootstrap.css') }}" />
{% endblock %}
