{% extends 'CoastersWorldSiteBundle:News:news-template.html.twig' %}

{% block page_top_breadcrumb %}
    <li><a href="{{ path('coasters_world_news_list_first_page') }}">News</a></li>
    <li class="active">Les dernières news</li>
{% endblock %}

{% block page_top_main %}Les dernières news{% endblock %}

{% block newscontent %}

    <div class="blog-posts">

        {% for n in listNews %}

            <article class="post post-large">
                <div class="post-image single">
                    <a href="{{ path('coasters_world_news_view', { slug: n.slug }) }}">
                        <img class="img-thumbnail" src="http://lorempixel.com/848/250/technics" alt="">
                    </a>
                </div>

                <div class="post-date">
                    <span class="day">{{ n.publishedAt|date("d") }}</span>
                    <span class="month">
                        {% if n.publishedAt|date("n") == 1 %}Jan
                        {% elseif n.publishedAt|date("n") == 2 %}Fév
                        {% elseif n.publishedAt|date("n") == 3 %}Mars
                        {% elseif n.publishedAt|date("n") == 4 %}Avril
                        {% elseif n.publishedAt|date("n") == 5 %}Mai
                        {% elseif n.publishedAt|date("n") == 6 %}Juin
                        {% elseif n.publishedAt|date("n") == 7 %}Juil
                        {% elseif n.publishedAt|date("n") == 8 %}Août
                        {% elseif n.publishedAt|date("n") == 9 %}Sept
                        {% elseif n.publishedAt|date("n") == 10 %}Oct
                        {% elseif n.publishedAt|date("n") == 11 %}Nov
                        {% elseif n.publishedAt|date("n") == 12 %}Déc
                        {% else %}Dev
                        {% endif %}
                    </span>
                </div>

                <div class="post-content">

                    <h2><a href="{{ path('coasters_world_news_view', { slug: n.slug }) }}">{{ n.title }}</a></h2>
                    <p>{{ n.html|striptags|slice(0,250) }}...</p>
                    <div class="post-meta">
                        <span><i class="icon icon-user"></i> Par <a href="#">{{ n.author.username }}</a> </span>
                        <span><i class="icon icon-tag"></i>
                            <span class="label label-default">{{ news.coaster.name }}</span>
                            {% for tag in n.tags %}
                                <span class="label label-default">{{ tag }}</span>
                            {% endfor %}
                        </span>
                        <span><i class="icon icon-comments"></i> <a href="#">{{ n.comments|length }} commentaire(s)</a></span>
                        <a href="{{ path('coasters_world_news_view', { slug: n.slug }) }}" class="btn btn-xs btn-primary pull-right">
                            Lire la suite...
                        </a>
                    </div>

                </div>
            </article>

        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(listNews) }}
        </div>

    </div>

{% endblock %}