{% extends 'CoastersWorldSiteBundle:News:news-template.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block page_top_breadcrumb %}
    <li><a href="{{ path('coasters_world_news_list_first_page') }}">News</a></li>
    <li class="active">{{ news.title }}</li>
{% endblock %}

{% block page_top_main %}{{ news.title }}{% endblock %}

{% block newscontent %}

    <div class="blog-posts single-post">

        <article class="post post-large">

            <div class="post-image single">
                <a href="{{ path('coasters_world_news_view', { slug: news.slug }) }}">
                    {% if news.thumbnail is not null %}
                        <img class="img-thumbnail" src="{{ app.request.getBasePath() }}{{ images_path }}{{ news.thumbnail.path }}" alt="">
                    {% else %}
                        <img class="img-thumbnail" src="http://lorempixel.com/848/250/technics" alt="">
                    {% endif %}
                </a>
            </div>

            <div class="post-date">
                <span class="day">{{ news.publishedAt|date("d") }}</span>
                <span class="month">
                    {% if news.publishedAt|date("n") == 1 %}Jan
                    {% elseif news.publishedAt|date("n") == 2 %}Fev
                    {% elseif news.publishedAt|date("n") == 3 %}Mars
                    {% elseif news.publishedAt|date("n") == 4 %}Avril
                    {% elseif news.publishedAt|date("n") == 5 %}Mai
                    {% elseif news.publishedAt|date("n") == 6 %}Juin
                    {% elseif news.publishedAt|date("n") == 7 %}Juil
                    {% elseif news.publishedAt|date("n") == 8 %}Aout
                    {% elseif news.publishedAt|date("n") == 9 %}Sept
                    {% elseif news.publishedAt|date("n") == 10 %}Oct
                    {% elseif news.publishedAt|date("n") == 11 %}Nov
                    {% elseif news.publishedAt|date("n") == 12 %}Dec
                    {% else %}Dev
                    {% endif %}
                </span>
            </div>
            
            <div class="post-content">

                <h2>
                    {{ news.title }}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('coasters_world_news_edit', { id: news.id }) }}" class="btn btn-xs btn-primary">
                            <i class="icon icon-edit"></i>
                            Editer
                        </a>
                    {% endif %}
                </h2>
                
                {{ news.html|raw }}
                
                <!-- <div class="addthis_toolbox addthis_default_style " style="float:right">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                </div> -->
                <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>-->

                <div class="post-meta">
                    <span><i class="icon icon-user"></i> Par <a href="#">{{ news.author.username }}</a> </span>
                    <span><i class="icon icon-tag"></i>
                        <span class="label label-default">{{ news.coaster.name }}</span>
                        {% for tag in news.tags %}
                            <span class="label label-default">{{ tag }}</span>
                        {% endfor %}
                    </span>
                    <span><i class="icon icon-comments"></i> <a href="#">{{ news.comments|length }} commentaire(s)</a></span>
                </div>

            </div>

            {% include 'CoastersWorldSiteBundle:Comment:list.html.twig' with { 'comments': news.comments } only %}

            {{ render(controller('CoastersWorldSiteBundle:Comment:new', { 'id': news.id })) }}

        </article>

    </div>

    
    
{% endblock %}
